.element__like {
  position: relative;
  bottom: 30px;
  padding: 0;
  margin-right: 25px;
  margin-top: -30px;
  align-self: end;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/element-like.png);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
}

.element__like:hover {
  opacity: .5;
}