.popup__container {
  margin: 0 auto;
  padding-bottom: 37px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 430px;
}

@media screen and (max-width: 680px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}