.profile__about {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .profile__about {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 14px auto 10px;
    text-align: center;
  }
}