.element__title {
  font-size: 24px;
  color: black;
  margin: 23px auto 37px 21px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
}