.header__logo {
  width: 142px;
  height: 33px;
  background-image: url(../../../images/header-logo.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  
@media screen and (max-width: 320px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin-left: 27px;
  }
}