.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 300px;
}

@media screen and (max-width: 680px) {
  .profile__name {
    margin-right: 10px;
    font-size: 35px;
  }
}

@media screen and (max-width: 320px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-left: 25px;
  }
}